.HistoryPage{
    padding: 1rem;
} 
.heading{
    border-bottom: 2px solid rgb(3, 228, 89);
    margin-bottom: 1rem;
} 
.search-history-container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    /* border: 1px solid red; */
 
}
.list{
    color: rgb(7, 190, 7);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    /* border: 1px solid black; */
    margin-top: 5px;
    width: fit-content;
  }
  .list:hover{
    text-decoration: underline;
  }
  
  
  .err{
    color: red;
    font-weight: bolder;
  }